Opus46/n8n-workflow.json
{
  "name": "ClaudeClaw Bridge v5",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-448, 112],
      "id": "efae163e-838e-4252-80f0-fe56f99d7824",
      "name": "Telegram",
      "webhookId": "b1ec3810-399b-4cae-b6b4-b369235c7999",
      "credentials": {
        "telegramApi": { "id": "KZgyQyTC9wV8z07R", "name": "ClaudeClaw" }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "cond-text", "leftValue": "={{ $json.message.text }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "cond-voice", "leftValue": "={{ $json.message.voice.file_id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "cond-photo", "leftValue": "={{ $json.message.photo }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [{ "id": "cond-doc", "leftValue": "={{ $json.message.document.file_id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }],
                "combinator": "and"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-224, 112],
      "id": "b2f87fc8-0398-4d01-a516-af4341f24288",
      "name": "Switch tipo mensaje"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5679/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $('Telegram').item.json.message.text }}" },
            { "name": "chat_id", "value": "={{ $('Telegram').item.json.message.chat.id }}" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "94d1a364-cbc6-41af-9aaf-4ba2317f837f",
      "name": "Claude (texto)"
    },
    {
      "parameters": {
        "jsCode": "const MAX_LEN = 3600;\nconst raw = String($json.result ?? '').trim();\n\nfunction filterGarbage(text) {\n  return text\n    .replace(/[\\u4e00-\\u9fff\\u3400-\\u4dbf\\u3000-\\u303f\\uf900-\\ufaff]/g, '')\n    .replace(/[\\u0400-\\u04ff\\u0500-\\u052f]/g, '')\n    .replace(/[\\u0600-\\u06ff\\u0750-\\u077f]/g, '')\n    .replace(/[\\uff00-\\uffef\\u3040-\\u30ff]/g, '')\n    .trim();\n}\n\nfunction cleanMarkdown(text) {\n  return String(text)\n    .replace(/```[\\s\\S]*?```/g, '')\n    .replace(/`([^`]+)`/g, '$1')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '$1')\n    .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n    .replace(/\\*(.*?)\\*/g, '$1')\n    .replace(/__(.*?)__/g, '$1')\n    .replace(/_(.*?)_/g, '$1')\n    .replace(/_/g, '')\n    .replace(/~~(.*?)~~/g, '$1')\n    .replace(/^[ \\t]*#{1,6}[ \\t]*/gm, '')\n    .replace(/^[ \\t]*>[ \\t]?/gm, '')\n    .replace(/^[ \\t]*[-*][ \\t]+/gm, '• ')\n    .replace(/^[ \\t]*\\d+\\.[ \\t]+/gm, '• ')\n    .replace(/^[ \\t]*([-*_]){3,}[ \\t]*$/gm, '')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction splitText(text, maxLen) {\n  if (!text) return ['(sin respuesta)'];\n  if (text.length <= maxLen) return [text];\n  const chunks = [];\n  let remaining = text;\n  while (remaining.length > maxLen) {\n    let cut = remaining.lastIndexOf('\\n\\n', maxLen);\n    if (cut < Math.floor(maxLen * 0.6)) cut = remaining.lastIndexOf('\\n', maxLen);\n    if (cut < Math.floor(maxLen * 0.6)) { cut = remaining.lastIndexOf('. ', maxLen); if (cut !== -1) cut += 1; }\n    if (cut < Math.floor(maxLen * 0.6)) cut = remaining.lastIndexOf(' ', maxLen);\n    if (cut < Math.floor(maxLen * 0.4)) cut = maxLen;\n    const part = remaining.slice(0, cut).trim();\n    if (part) chunks.push(part);\n    remaining = remaining.slice(cut).trim();\n  }\n  if (remaining) chunks.push(remaining);\n  return chunks.length ? chunks : ['(sin respuesta)'];\n}\n\nconst parts = splitText(cleanMarkdown(filterGarbage(raw)), MAX_LEN);\nreturn parts.map((part, i) => ({ json: { text: part, fragmentIndex: i+1, fragmentTotal: parts.length } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Procesar texto"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [448, 0],
      "id": "3e8866fe-595a-4146-b4e9-1996b276b31d",
      "name": "Respuesta texto",
      "webhookId": "676f0d03-595f-4c46-8ef8-9036f6a2674b",
      "credentials": {
        "telegramApi": { "id": "KZgyQyTC9wV8z07R", "name": "ClaudeClaw" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram').item.json.message.chat.id }}",
        "text": "🎤 transcribiendo...",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-224, 208],
      "id": "d5b22a76-5ab6-4032-82bb-d8c335fd81d5",
      "name": "ACK voz",
      "webhookId": "c188debd-7f5f-4f97-927c-e3c85120d0e2",
      "credentials": {
        "telegramApi": { "id": "KZgyQyTC9wV8z07R", "name": "ClaudeClaw" }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [0, 208],
      "id": "d6ce67cc-f802-4b25-8235-cea9887dfc86",
      "name": "Bajar audio",
      "webhookId": "fbc3334a-c038-4842-89a4-ac9f136540b1",
      "credentials": {
        "telegramApi": { "id": "KZgyQyTC9wV8z07R", "name": "ClaudeClaw" }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [224, 208],
      "id": "7bc44f5d-783c-492e-a772-988028edbe7c",
      "name": "Whisper",
      "credentials": {
        "openAiApi": { "id": "9VxiDLtrelh5azBD", "name": "RGSI" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5679/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $json.text }}" },
            { "name": "chat_id", "value": "={{ $('Telegram').item.json.message.chat.id }}" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [448, 208],
      "id": "23144aad-49dc-4d73-8f92-9a43a5b5a3cc",
      "name": "Claude (voz)"
    },
    {
      "parameters": {
        "jsCode": "const MAX_LEN = 3600;\nconst raw = String($json.result ?? '').trim();\nconst whisperText = String($('Whisper').item.json.text ?? '').trim();\nfunction filterGarbage(t) { return t.replace(/[\\u4e00-\\u9fff\\u3400-\\u4dbf\\u3000-\\u303f\\uf900-\\ufaff]/g,'').replace(/[\\u0400-\\u04ff\\u0500-\\u052f]/g,'').replace(/[\\u0600-\\u06ff\\u0750-\\u077f]/g,'').replace(/[\\uff00-\\uffef\\u3040-\\u30ff]/g,'').trim(); }\nfunction cleanMarkdown(t) { return String(t).replace(/```[\\s\\S]*?```/g,'').replace(/`([^`]+)`/g,'$1').replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g,'$1').replace(/\\*\\*(.*?)\\*\\*/g,'$1').replace(/\\*(.*?)\\*/g,'$1').replace(/__(.*?)__/g,'$1').replace(/_(.*?)_/g,'$1').replace(/_/g,'').replace(/~~(.*?)~~/g,'$1').replace(/^[ \\t]*#{1,6}[ \\t]*/gm,'').replace(/^[ \\t]*>[ \\t]?/gm,'').replace(/^[ \\t]*[-*][ \\t]+/gm,'• ').replace(/^[ \\t]*\\d+\\.[ \\t]+/gm,'• ').replace(/^[ \\t]*([-*_]){3,}[ \\t]*$/gm,'').replace(/\\r\\n/g,'\\n').replace(/\\n{3,}/g,'\\n\\n').trim(); }\nfunction splitText(text, maxLen) { if (!text) return ['(sin respuesta)']; if (text.length <= maxLen) return [text]; const chunks=[]; let r=text; while(r.length>maxLen){let c=r.lastIndexOf('\\n\\n',maxLen); if(c<Math.floor(maxLen*.6))c=r.lastIndexOf('\\n',maxLen); if(c<Math.floor(maxLen*.6)){c=r.lastIndexOf('. ',maxLen);if(c!==-1)c+=1;} if(c<Math.floor(maxLen*.6))c=r.lastIndexOf(' ',maxLen); if(c<Math.floor(maxLen*.4))c=maxLen; const p=r.slice(0,c).trim();if(p)chunks.push(p);r=r.slice(c).trim();} if(r)chunks.push(r); return chunks.length?chunks:['(sin respuesta)'];}\nconst parts = splitText(cleanMarkdown(filterGarbage(raw)), MAX_LEN);\nreturn parts.map((part,i)=>({json:{text:i===0?`🎤 \"${whisperText}\"\\n\\n${part}`:part,fragmentIndex:i+1,fragmentTotal:parts.length}}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 208],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Procesar voz"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [896, 208],
      "id": "f23bb65b-bb23-4c02-97e4-83f555416716",
      "name": "Respuesta voz",
      "webhookId": "4bbbb0d6-8483-400d-845d-1453851422f5",
      "credentials": {
        "telegramApi": { "id": "KZgyQyTC9wV8z07R", "name": "ClaudeClaw" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5679/execute-with-file",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "file_id", "value": "={{ $('Telegram').item.json.message.photo[-1].file_id }}" },
            { "name": "caption", "value": "={{ $('Telegram').item.json.message.caption ?? 'Analiza esta imagen.' }}" },
            { "name": "chat_id", "value": "={{ $('Telegram').item.json.message.chat.id }}" },
            { "name": "mime_type", "value": "image/jpeg" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 416],
      "id": "claude-photo-id-0001",
      "name": "Claude (foto)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5679/execute-with-file",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "file_id", "value": "={{ $('Telegram').item.json.message.document.file_id }}" },
            { "name": "caption", "value": "={{ $('Telegram').item.json.message.caption ?? '' }}" },
            { "name": "chat_id", "value": "={{ $('Telegram').item.json.message.chat.id }}" },
            { "name": "mime_type", "value": "={{ $('Telegram').item.json.message.document.mime_type ?? 'application/octet-stream' }}" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 608],
      "id": "claude-doc-id-0001",
      "name": "Claude (documento)"
    },
    {
      "parameters": {
        "jsCode": "const MAX_LEN = 3600;\nconst raw = String($json.result ?? '').trim();\nfunction filterGarbage(t){return t.replace(/[\\u4e00-\\u9fff\\u3400-\\u4dbf\\u3000-\\u303f\\uf900-\\ufaff]/g,'').replace(/[\\u0400-\\u04ff\\u0500-\\u052f]/g,'').replace(/[\\u0600-\\u06ff\\u0750-\\u077f]/g,'').replace(/[\\uff00-\\uffef\\u3040-\\u30ff]/g,'').trim();}\nfunction cleanMarkdown(t){return String(t).replace(/```[\\s\\S]*?```/g,'').replace(/`([^`]+)`/g,'$1').replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g,'$1').replace(/\\*\\*(.*?)\\*\\*/g,'$1').replace(/\\*(.*?)\\*/g,'$1').replace(/__(.*?)__/g,'$1').replace(/_(.*?)_/g,'$1').replace(/_/g,'').replace(/~~(.*?)~~/g,'$1').replace(/^[ \\t]*#{1,6}[ \\t]*/gm,'').replace(/^[ \\t]*>[ \\t]?/gm,'').replace(/^[ \\t]*[-*][ \\t]+/gm,'• ').replace(/^[ \\t]*\\d+\\.[ \\t]+/gm,'• ').replace(/^[ \\t]*([-*_]){3,}[ \\t]*$/gm,'').replace(/\\r\\n/g,'\\n').replace(/\\n{3,}/g,'\\n\\n').trim();}\nfunction splitText(text,maxLen){if(!text)return['(sin respuesta)'];if(text.length<=maxLen)return[text];const chunks=[];let r=text;while(r.length>maxLen){let c=r.lastIndexOf('\\n\\n',maxLen);if(c<Math.floor(maxLen*.6))c=r.lastIndexOf('\\n',maxLen);if(c<Math.floor(maxLen*.6)){c=r.lastIndexOf('. ',maxLen);if(c!==-1)c+=1;}if(c<Math.floor(maxLen*.6))c=r.lastIndexOf(' ',maxLen);if(c<Math.floor(maxLen*.4))c=maxLen;const p=r.slice(0,c).trim();if(p)chunks.push(p);r=r.slice(c).trim();}if(r)chunks.push(r);return chunks.length?chunks:['(sin respuesta)'];}\nconst parts=splitText(cleanMarkdown(filterGarbage(raw)),MAX_LEN);\nreturn parts.map((part,i)=>({json:{text:part,fragmentIndex:i+1,fragmentTotal:parts.length}}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 512],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Procesar archivo"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [448, 512],
      "id": "respuesta-archivo-id-0001",
      "name": "Respuesta archivo",
      "credentials": {
        "telegramApi": { "id": "KZgyQyTC9wV8z07R", "name": "ClaudeClaw" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram').item.json.message.chat.id }}",
        "text": "No puedo procesar ese tipo de mensaje. Envía texto, audio, imagen o archivo.",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [0, -160],
      "id": "4ad9aa7d-8e8b-47eb-9f61-87f66d526045",
      "name": "No soportado",
      "webhookId": "28279bad-e66c-41e6-b736-b28b95530a6a",
      "credentials": {
        "telegramApi": { "id": "KZgyQyTC9wV8z07R", "name": "ClaudeClaw" }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram":            { "main": [[{ "node": "Switch tipo mensaje", "type": "main", "index": 0 }]] },
    "Switch tipo mensaje": {
      "main": [
        [{ "node": "Claude (texto)",     "type": "main", "index": 0 }],
        [{ "node": "ACK voz",            "type": "main", "index": 0 }],
        [{ "node": "Claude (foto)",      "type": "main", "index": 0 }],
        [{ "node": "Claude (documento)", "type": "main", "index": 0 }],
        [{ "node": "No soportado",       "type": "main", "index": 0 }]
      ]
    },
    "ACK voz":             { "main": [[{ "node": "Bajar audio",        "type": "main", "index": 0 }]] },
    "Bajar audio":         { "main": [[{ "node": "Whisper",            "type": "main", "index": 0 }]] },
    "Whisper":             { "main": [[{ "node": "Claude (voz)",       "type": "main", "index": 0 }]] },
    "Claude (texto)":      { "main": [[{ "node": "Procesar texto",     "type": "main", "index": 0 }]] },
    "Claude (voz)":        { "main": [[{ "node": "Procesar voz",       "type": "main", "index": 0 }]] },
    "Claude (foto)":       { "main": [[{ "node": "Procesar archivo",   "type": "main", "index": 0 }]] },
    "Claude (documento)":  { "main": [[{ "node": "Procesar archivo",   "type": "main", "index": 0 }]] },
    "Procesar texto":      { "main": [[{ "node": "Respuesta texto",    "type": "main", "index": 0 }]] },
    "Procesar voz":        { "main": [[{ "node": "Respuesta voz",      "type": "main", "index": 0 }]] },
    "Procesar archivo":    { "main": [[{ "node": "Respuesta archivo",  "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "0d66ba57838cf99df99a917c9a45d7db810aa7e80bea1d74469592e25dc06fa4"
  },
  "tags": []
}
